@mixin box($width, $height: $width) {
    width: $width + rem;
    height: $height + rem;
}

@mixin flex($justify-content: false, $align-items: false, $column:false, $wrap: false) {
    display: flex;

    @if ($justify-content) {
        justify-content: $justify-content;
    }

    @if ($align-items) {
        align-items: $align-items;
    }

    @if ($wrap) {
        flex-wrap: $wrap;
    }

    @if ($column) {
        flex-direction: $column;
    }
}

@mixin bg-gradient($gradient) {
    background: linear-gradient($gradient);
}