*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: $font-stack;
    font-size: 1.5rem;
}
input,
button,
textarea,
select {
    font-family: inherit;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $color-blue1;
    transition: color 0.3s ease;
}
a:hover {
    color: $color-orange1;
}
